.btn-success {
  color: #eed12a;
}

nav div.container {
  color: #5962da;
}

h2 {
  color: #5962da;
}

.extra-box {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 25px;
}
